<div class="col-lg-3">
    <div class="product-item">
        <div>
            <a href="{% url 'product' product.id %}">
                <img src="{{ product.productimage_set.all.first.image.url }}" class="img-responsive">
            </a>
        </div>

        {% if product_image.product.discount %}
            <div class="discount-container">
                <span>{{ product.discount }}%</span>
            </div>
        {% endif %}

        <h4>{{ product.name }}</h4>
{#        <p>#}
{#            {{ product_image.product.description|truncatechars_html:70 }}#}
{#        </p>#}
        <div>
            {{ product.price }} UAH
        </div>
{#        <div class="add-to-card-btn" data-product_id="{{ product_image.product.id }}">#}
{#            <button class="btn btn-success" id="some{{ product_image.product.id }}">#}
{#                Добавить в корзину#}
{#            </button>#}
{#        </div>#}
    </div>
</div>