<footer class="footer">
    <div class="container">
        <table class="table text-center">
            <h3>Аптека - это новый стандарт аптек с широчайшим ассортиментом лекарств, изделий медицинского назначения и товаров для здоровья.
                Широкий ассортимент товаров, заказ препаратов, гарантия качества лекарств и профессиональные консультации провизоров,     помогают
                нашим покупателям просто и удобно находить и приобретать именно то, что им нужно.</h3>
        </table>
    </div>
</footer>